{% extends 'base.html.twig' %}

{% block title %}New TipoConsulta{% endblock %}

{% block body %}
    <h1>Create new TipoConsulta</h1>

    {{ include('tipo_consulta/_form.html.twig') }}

    <a href="{{ path('tipo_consulta_index') }}">back to list</a>
{% endblock %}
