{% extends 'base.html.twig' %}

{% block title %}Edit Prontuarios{% endblock %}

{% block body %}
    <h1>Edit Prontuarios</h1>

    {{ include('prontuarios/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('prontuarios_index') }}">back to list</a>

    {{ include('prontuarios/_delete_form.html.twig') }}
{% endblock %}
