{% extends 'base.html.twig' %}

{#{% block title %}Edit Prontuarios{% endblock %}#}

{% block body %}
    {#    <h1>Edit Prontuarios</h1>#}
    <div class="page-header">
        <h1>
            <span class="text-muted font-weight-light">Prontuário / </span>Editar Prontuário
        </h1>
    </div>

    <div class="main-card mb-3 card">
        <div class="card-body">
            {{ include('prontuarios/_form.html.twig', {'button_label': 'Atualizar'}) }}
        </div>
    </div>
{% endblock %}
