{% extends 'base.html.twig' %}

{% block title %}Edit Exames{% endblock %}

{% block body %}
    <h1>Edit Exames</h1>

    {{ include('exames/_form.html.twig', {'button_label': 'Atualizar'}) }}

    <a href="{{ path('exames_index') }}">Voltar à Lista</a>

    {{ include('exames/_delete_form.html.twig') }}
{% endblock %}
