{% extends 'base.html.twig' %}

{#{% block title %}Edit Exames{% endblock %}#}

{% block body %}
    {#    <h1>Edit Exames</h1>#}
    <div class="page-header">
        <h1>
            <span class="text-muted font-weight-light">Exame / </span>Editar Exame
        </h1>
    </div>

    <div class="main-card mb-3 card">
        <div class="card-body">
            {{ include('exames/_form.html.twig', {'button_label': 'Atualizar'}) }}
{#            {{ include('exames/_delete_form.html.twig') }}#}
        </div>
    </div>
{% endblock %}
