{% extends 'base.html.twig' %}

{% block title %}Edit Consultas{% endblock %}

{% block body %}
    <h1>Edit Consultas</h1>

    {{ include('consultas/_form.html.twig', {'button_label': 'Atualizar'}) }}

    <a href="{{ path('consultas_index') }}">Voltar à Lista</a>

    {{ include('consultas/_delete_form.html.twig') }}
{% endblock %}
