{% extends 'base.html.twig' %}

{#{% block title %}New Consultas{% endblock %}#}

{% block body %}
    {#    <h1>Create new Consultas</h1>#}
    <div class="page-header">
        <h1>
            <span class="text-muted font-weight-light">Sessão / </span>Cadastrar Sessão
        </h1>
    </div>

    <div class="main-card mb-3 card">
        <div class="card-body">
            {{ include('consultas/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
