{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>
            <span class="text-muted font-weight-light">Alterar Senha</span>
        </h1>
    </div>

    <div class="main-card mb-3 card">
        <div class="card-body">
            <form action="{{ path('change_password') }}" method="post">
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label for="passwordcurrent" class="">Senha Atual</label>
                            <input name="senhaAntiga" id="passwordcurrent" placeholder="Digite a senha atual..." type="password"
                                   class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label for="newpassword" class="">Nova Senha</label>
                            <input name="senhaNova" id="newpassword" placeholder="Digite uma nova senha..." type="password"
                                   class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label for="confirmNewPassword" class="">Confirmar Senha</label>
                            <input name="senhaConfirmada" id="confirmNewPassword" placeholder="Confirme a nova senha..." type="password"
                                   class="form-control" required>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-success">Alterar senha</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        $('#btnFormFuncionario').click(function () {
            var form = $('form[name="change_password"]');
            form.validate({});
            form.submit();
        });
    </script>
{% endblock %}