{% extends 'base.html.twig' %}

{% block title %}Edit Acesso{% endblock %}

{% block body %}
{#    <h1>Edit Acesso</h1>#}

    <div class="page-header">
        <h1>
            <span class="text-muted font-weight-light">Acesso / </span>Editar Acesso
        </h1>
    </div>
    <div class="main-card mb-3 card">
        <div class="card-body">
            {{ include('acesso/_form.html.twig', {'button_label': 'Salvar'}) }}
        </div>
    </div>

{#    {{ include('acesso/_delete_form.html.twig') }}#}
{% endblock %}
