{% extends 'base.html.twig' %}

{#{% block title %}New Acesso{% endblock %}#}

{% block body %}
    {#    <h1>Create new Acesso</h1>#}
    <div class="page-header">
        <h1>
            <span class="text-muted font-weight-light">Acesso / </span>Cadastrar Acesso
        </h1>
    </div>

    <div class="main-card mb-3 card">
        <div class="card-body">
            {{ include('acesso/_form.html.twig') }}
        </div>
    </div>
    {#    <a href="{{ path('acesso_index') }}">Voltar à Lista</a>#}
{% endblock %}
