<form method="post" action="{{ path('funcionarios_delete', {'id': funcionario.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ funcionario.id) }}">
    <a class="mb-2 mr-2 btn btn-primary"
       href="{{ path('funcionarios_show', {'id': funcionario.id}) }}" title="Ver" data-toggle="tooltip" data-placement="bottom"><i
                class="fa fa-eye"></i></a>

    <a class="mb-2 mr-2 btn btn-success"
       href="{{ path('funcionarios_edit', {'id': funcionario.id}) }}" title="Editar" data-toggle="tooltip" data-placement="bottom"><i
                class="fa fa-edit"></i></a>
    <button class="btn btn-danger mb-2 mr-2" title="Exluir" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-trash"></i></button>
</form>
