{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>
            <span class="text-muted font-weight-light">Funcionário / </span>Alterar Senha
        </h1>
    </div>

    <div class="main-card mb-3 card">
        <div class="card-body">
            {{ include('funcionarios/_form3.html.twig') }}
        </div>
    </div>

    <script>
        $('#btnFormFuncionario').click(function () {
            var form = $('form[name="change_password"]');
            form.validate({});
            form.submit();
        });
    </script>
{% endblock %}