{% extends 'base.html.twig' %}

{% block title %}Edit Funcionarios{% endblock %}

{% block body %}
    {#    <h1>Edit Funcionarios</h1>#}
    <div class="page-header">
        <h1>
            <span class="text-muted font-weight-light">Funcionário / </span>Editar Funcionário
        </h1>
    </div>
    <div class="main-card mb-3 card">
        <div class="card-body">
            {{ include('funcionarios/_form.html.twig', {'button_label': 'Salvar'}) }}
        </div>
    </div>

{% endblock %}
