{% extends 'base.html.twig' %}

{% block title %}New Funcionarios{% endblock %}

{% block body %}
    <h1>Create new Funcionarios</h1>

    {{ include('funcionarios/_form2.html.twig') }}
    <script>

        $('#btnFormFuncionario').click(function(){
            var form = $('form[name="funcionarios"]');
            form.validate({

            });
            form.submit();
        });
    </script>
{% endblock %}
