{% extends 'base.html.twig' %}

{#{% block title %}Edit Perfil{% endblock %}#}

{% block body %}
    {#    <h1>Edit Perfil</h1>#}
    <div class="page-header">
        <h1>
            <span class="text-muted font-weight-light">Perfil / </span>Editar Perfil
        </h1>
    </div>

    <div class="main-card mb-3 card">
        <div class="card-body">
            {{ include('perfil/_form.html.twig', {'button_label': 'Atualizar'}) }}
        </div>
    </div>



{% endblock %}
