{% extends 'base.html.twig' %}

{#{% block title %}New Perfil{% endblock %}#}

{% block body %}
    {#    <h1>Create new Perfil</h1>#}
    <div class="page-header">
        <h1>
            <span class="text-muted font-weight-light">Perfil / </span>Cadastrar Perfil
        </h1>
    </div>

    <div class="main-card mb-3 card">
        <div class="card-body">
            {{ include('perfil/_form.html.twig') }}
        </div>
    </div>

{% endblock %}
