{% extends 'base.html.twig' %}

{% block title %}Edit Pacientes{% endblock %}

{% block body %}
    <h1>Edit Pacientes</h1>

    {{ include('pacientes/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('pacientes_index') }}">back to list</a>

    {{ include('pacientes/_delete_form.html.twig') }}
{% endblock %}
