{% extends 'base.html.twig' %}

{% block title %}New Pacientes{% endblock %}

{% block body %}
    <h1>Create new Pacientes</h1>

    {{ include('pacientes/_form2.html.twig') }}

    <script>

        $('#btnFormPaciente').click(function(){
            var form = $('form[name="pacientes"]');
            form.validate({
            });
            form.submit();
        });
    </script>
{% endblock %}
