{% extends 'base.html.twig' %}

{% block title %}New Pacientes{% endblock %}

{% block body %}
    <h1>Create new Pacientes</h1>

    {{ include('pacientes/_form.html.twig') }}

    <a href="{{ path('pacientes_index') }}">back to list</a>
{% endblock %}
